body {
    background-color: #5485af80;
    font-family: 'Times New Roman', Times, serif;
    color: #333;
    margin: 20px;
   
}
h1 {
    color: #07ff72;
    text-align: center;
    text-decoration: solid overline underline;
    border-radius:20pc;
    text-shadow: 2px 2px black;
    border-style: double;
    background-image: linear-gradient(to left, #07ff72, black);
    
  }
  p {
    font-size: 20px;
    line-height: 2;
  }
  footer{ font-size: 15px;
    line-height: 2.5;
    color: rgb(255, 255, 255)
  }