body  {
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-theme {
  background-color: #000000;
  color: rgb(0, 0, 0);
}
.translate-btn-pt {
  font-size: 18px; /* aumenta o tamanho da fonte */
  padding: 20px 24px; /* aumenta o tamanho do botão (altura e largura) */
  margin: 5px; /* espaço entre os botões */
  cursor: pointer;
  background-color: #bbc942; /* cor de fundo (verde como exemplo) */
  color: rgb(23, 228, 102); /* cor do texto */
  border: none;
  border-radius: 16px; /* cantos arredondados */
  transition: background-color 0.3s ease;
}

.translate-btn:hover {
  background-color: #a7b85f; /* cor quando passa o mouse */
}

.translate-btn-en {
  font-size: 18px; /* aumenta o tamanho da fonte */
  padding: 20px 20px; /* aumenta o tamanho do botão (altura e largura) */
  margin: 5px; /* espaço entre os botões */
  cursor: pointer;
  background-color: #0408ff; /* cor de fundo (verde como exemplo) */
  color: rgb(255, 4, 4); /* cor do texto */
  border: none;
  border-radius: 16px; /* cantos arredondados */
  transition: background-color 0.3s ease;
}



.translate-btn:hover {
  background-color: #3533d4; /* cor quando passa o mouse */
}


.translate-btn-alt {
  font-size: 18px; /* aumenta o tamanho da fonte */
  padding: 16px 12px; /* aumenta o tamanho do botão (altura e largura) */
  margin: 5px; /* espaço entre os botões */
  cursor: pointer;
  background-color: #000000; /* cor de fundo (verde como exemplo) */
  color: white; /* cor do texto */
  border: none;
  border-radius: 16px; /* cantos arredondados */
  transition: background-color 0.3s ease;
}

.translate-btn:hover {
  background-color: #45a049; /* cor quando passa o mouse */
}
  
  /* Estiliza o cabeçalho principal */
  h1 {
    color: #000000;
    text-align: center;
    border-style: solid;
    text-decoration:solid overline underline;
    border-radius: 2pc;
    background-image: linear-gradient(to right,rgb(250, 250, 255), rgb(0, 38, 255));
  }
  
  /* Estiliza o parágrafo */
  p {
    font-size: 18px;
    line-height: 1.5;
  }
